{
    "extends"       : [
        "eslint:recommended",
        "plugin:jest-dom/recommended",
        "plugin:react/recommended",
        "plugin:testing-library/react"
    ],
    "env"           : {
        "browser" : true,
        "es6"     : true
    },
    "globals"       : {
        "Atomics"           : "readonly",
        "SharedArrayBuffer" : "readonly"
    },
    "parser"        : "babel-eslint",
    "parserOptions" : {
        "ecmaFeatures" : {
            "jsx" : true
        },
        "ecmaVersion"  : 2018,
        "sourceType"   : "module"
    },
    "plugins"       : [
        "jest-dom",
        "react",
        "testing-library"
    ],
    "rules"         : {
        "indent"                : [
            "error",
            4,
            {
                "SwitchCase" : 1
            }
        ],
        "linebreak-style"       : [
            "error",
            "unix"
        ],
        "quotes"                : [
            "error",
            "single"
        ],
        "no-extra-boolean-cast" : "off",
        "no-undef"              : "off",
        "semi"                  : [
            "error",
            "always"
        ]
    },
    "settings"      : {
        "react" : {
            "version" : "detect"
        }
    }
}
